@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    /* Colors */
    --primary-color: #0A3AF8;
    --secondary-color: #DBE4FE;
    --third-color: #06d6a0;
    --white: #FFF;
    --black: #000;
    /* Fonts */
    --primary-font: 'Poppins', sans-serif;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: var(--primary-font);
    background-color: var(--primary-color);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100dvh - 8rem);
    padding: 4rem 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: calc(400px - 32px);
    padding: 3rem 1rem;
    background-color: var(--white);
    border-radius: 16px;
}

.progress-bar-list {
    display: flex;
    gap: 10px;
}

.progress-bar-list__item {
    width: 30px;
    height: 7px;
    background-color: var(--secondary-color);
    border-radius: 16px;
    transition: .5s ease-in-out;
}

.item-checked {
    background-color: var(--primary-color);
}

.btn-next-button {
    width: 200px;
    height: 30px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--white);
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: .9rem;
    cursor: pointer;
    transition: .5s;
}

.btn-next-button:hover {
    background-color: var(--white);
    color: var(--primary-color);
}

.button-checked {
    background-color: var(--third-color);
    border-color: var(--third-color);
}

.button-checked:hover {
    background-color: var(--white);
    color: var(--third-color);
}

.credits {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--white);
}

.credits a {
    color: var(--secondary-color);
    font-weight: 700;
}